spaper.aux
spaper.bbl
spaper.bcf
spaper.blg
spaper.log
spaper.sup
spaper2.sup
datadens-1.pdf
messages.txt
miscplot-1.pdf
miscplot2-1.pdf
plot-1.pdf
spaper.run.xml
spaper.tex
spaper.toc
spapersup.aux
spapersup.log
