lrmpa-1.pdf
messages.txt
scat-1.pdf
sum-1.pdf
template2.tex
template3.aux
template3.bbl
template3.bcf
template3.blg
template3.log
template3.run.xml
template3.tex
template3.toc
template.aux
template.bbl
template.bcf
template.blg
template.log
template.run.xml
template.tex
template.toc
testp-1.pdf
vc-1.pdf
